_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
!/.idea/
!/CLAUDE.md
!/.mise.toml
!/.idea/personal-website.iml
.clinerules

# Protéger le thème premium
jekyll-theme-neon/
!jekyll-theme-neon/README.md
!jekyll-theme-neon/LICENSE

# Local Netlify folder
.netlify
