
<footer class="wrapper margin-top-2">
  <div class="grid-container">
    <div class="cell large-8 large-offset-2">
      <div class="grid-x grid-padding-x align-spaced">
        <ul class="list-unstyled">
          {% for link in site.data.footer-menu %}
            <li>
              <a href="{{ link.url | relative_url }}">{{ link.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
        <div id="tree-nation-offset-website"></div>
      </div>
    </div>
  </div>
</footer>
