<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<header class="top-bar grid-container" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <a rel="author" class="font-blue" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </li>
      {% for link in site.data.top-menu %}
        <li>
          <a href="{{ link.url | relative_url }}">{{ link.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="top-bar-right">
    <button class="theme-toggle padding-horizontal-1" id="theme-toggle" title="Toggles light and dark theme">
      <img id="icon-dark" class="theme-icon" src="/assets/images/moon.svg" alt="" aria-hidden="true"/>
      <img id="icon-light" class="theme-icon" src="/assets/images/sun.svg" alt="" aria-hidden="true"/>
    </button>
  </div>
</header>
