body, .top-bar
  background-color: var(--background-color)
  color: var(--font-color)

.dropdown.menu
  background-color: var(--background-color) !important
  color: var(--font-color) !important

#theme-toggle
  color: var(--font-color)

#theme-toggle
  cursor: pointer
  img
    width: 1.5rem
    height: 1.5rem
