---
layout: default
---

<div class="home">
  <div class="grid-container header">
    <div class="grid-x grid-margin-x align-middle margin-top-3">
      <div class="cell medium-4">
        <img src="/assets/images/me.webp" alt="Portrait of Lucien" class="image">
      </div>
      <div class="cell medium-8">
        <h1>{{ site.title }}</h1>
        <hr>
        <p>{{ page.presentation }}</p>
        <div class="media-links">
          <a href="https://www.linkedin.com/in/lucien-mollard/" title="lien externe - Linkedin de Lucien Mollard" target="_blank">
            <span class="ri-linkedin-box-fill"></span>
          </a>
          <a href="https://github.com/LucienMLD" title="lien externe - Github de Lucien Mollard" target="_blank">
            <span class="ri-github-fill"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
