---
layout: default
---

<div class="home">

  <div class="grid-container">
    <div class="grid-x grid-margin-x margin-top-3">
      <div class="cell">
        <h1 class="cyberpunk">{{ site.title }}</h1>

      </div>

    </div>
    <div class="grid-x grid-margin-x">

      <div class="cell large-8 large-offset-2 medium-10 medium-offset-1 small-12 margin-vertical-3">
        <p class="text-center">{{ page.presentation }}</p>
      </div>

    </div>
  </div>
  <div class="grid-container">

    <div class="grid-x grid-margin-x margin-top-3">
      <div class="cell">
        <h2 class="cyberpunk">Experiences</h2>

      </div>

    </div>
  </div>
  <div class="grid-container">

    <div class="grid-x grid-margin-x margin-top-3">
      <div class="cell">
        <h2 class="cyberpunk">Training</h2>

      </div>
    </div>

  </div>
  {{ content }}



</div>
