---
layout: default
---
<div class="grid-container">
  <div class="grid-x grid-margin-x margin-top-3">
    <div class="cell large-8 large-offset-2">
      <h1 class="cyberpunk">{{ page.title }}</h1>
    </div>
  </div>
</div>
<div class="grid-container margin-top-3">
  <div class="grid-x grid-margin-x">

    {% assign collection = site[page.collection_name] | sort: "date_begin" | reverse %}

    {% for item in collection %}
    <div class="cell large-8 large-offset-2">
      <div class="card">
        <div class="card-border">
          <div class="card-divider">
            <h3>{{ item.title }}</h3>
          </div>
          <div class="card-section">
            <p class="bold">{{ item.company }}</p>
            <p>
              {{ item.date_begin }} -
              {% if item.date_end %}
              {{ item.date_end }}
              {% else %}
              Now
              {% endif %}
            </p>
            {% if item.competences %}
              <h4 class="display-contents">Competences :</h4>
              <ul class="list-unstyled display-contents">
                {% assign competences = item.competences  %}
                {% for competence in competences %}
                <li>{{ competence }}{% unless forloop.last %}, {% endunless %}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
